<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name=”viewport” content=”width=device-width, initial-scale=1.0″ />
   <META NAME="description" CONTENT="Disjointed incoherent memoirs of Abhay Sharma. Just another mortal trying to save the world which is somewhat largely disinclined to save itself.">
   <META NAME="keywords" CONTENT="blog,abhy,abhay,sharma,thepilgrim,pilgrim,reviews,books,music,technology,india,science,fiction">
   <META NAME="robot" CONTENT="index,follow">
   <META NAME="author" CONTENT="Abhay Sharma">
   <title>{{ title }}</title>
   <link rel="stylesheet" href="/css/index.css" type="text/css">
   <link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.thepilgr.im/feed.xml">
   <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
   <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
   <div id="wrapper">
   <div id="header">
      <a href="/"><img src="/static/temp.png" alt="The Pilgrim" class="profile_pic"></a>
      <h2 class="header_style">Abhay Sharma</h2><br>
      <h4 class="header_style">Agnostic | Antisocial | Anarchist</h4>
   </div>
   <br clear="all">

   <article>
      {% block main %}{% endblock %}
   </article>

   <footer>
      <div id="find_me">
         <h4>Find me on:</h4>
         <div id="social_buttons">
            <a href="http://twitter.thepilgr.im/" title="Twitter" target="_blank"><img src="/static/twitter-black.png" alt="abhay's twitter" class="thumb_pic" /></a>
            <a href="http://fb.thepilgr.im/" title="Facebook" target="_blank"><img src="/static/facebook-black.png" alt="abhay's fb" class="thumb_pic" /></a>
            <a href="https://github.com/abhy" title="Github" target="_blank"><img src="/static/github-black.png" alt="abhay's github" class="thumb_pic" /></a>
            <a href="/feed.xml" title="Subscribe RSS" target="_blank"><img src="/static/rss-black.png" alt="blog's rss" class="thumb_pic" /></a>
         </div>
      </div>
      <div id="contact_me">
         <h4>Contact me:</h4>
         <br>
         <a href="http://thepilgrim.wufoo.com/forms/z7x4m1/" onclick="window.open(this.href,  null, 'height=497, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">iamabhay&#64;outlook.in</a>
      </div>
   </footer>
   </div>
   </body>
</html>
